.App {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
  background-color: cornflowerblue;
}

h1{
  color: rgb(15, 39, 81);
}
p{
  font-size: 30px;
  color: rgb(250, 8, 8);
}